@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.body__wrapper-block {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.fill-btn {
  max-width: 100%;
  height: 80px;
  border-radius: 10px;
  background: #a4bac9;
  color: #0a304c;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.transparent-btn {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #0a304c;
  color: #0a304c;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #0a304c;
}

.header {
  /* Block Logo */
  /* Block Search */
  /* Block Work Time */
  /* Block Social */
  /* Block Contact */
}
.header__wrapper-burger_block {
  display: none;
}
.header__burger-btn {
  display: none;
}
.header__visible-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__wrapper {
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 255px;
}
.header__search-form {
  position: relative;
  height: 35px;
  max-width: 220px;
}
.header__search-input, .header__search-btn {
  border: none;
  outline: none;
  background: transparent;
}
.header__search-input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  background-color: #ecf1f4;
  border-radius: 4px;
}
.header__search-input::placeholder {
  font-size: 12px;
}
.header__search-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header__search-btn img {
  height: 20px;
  width: 32px;
}
.header__worktime {
  max-width: 111px;
  height: 48px;
}
.header__worktime-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #607e92;
}
.header__worktime-item span {
  font-weight: 700;
}
.header__social {
  height: 48px;
  display: flex;
  align-items: center;
}
.header__social-logo {
  margin-right: 20px;
}
.header__social-logo img {
  max-width: 45px;
  max-height: 45px;
}
.header__social-wrapp {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__social-link {
  display: flex;
  margin-top: 5px;
}
.header__social-link img {
  margin-right: 7px;
}
.header__social-link a {
  color: #607e92;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.header__contact {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__contact-number {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}
.header__contact-link {
  display: flex;
}
.header__contact-link img {
  margin-right: 7px;
}
.header__contact-link a {
  color: #607e92;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration-line: underline;
}

/* NavBar Section */
.navbar {
  border-bottom: 1px solid #607e92;
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.navbar__block-links {
  max-width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar__block-link {
  color: #607e92;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 30px;
}
.navbar__block-item {
  display: flex;
  align-items: center;
}
.navbar__block-items {
  max-width: 270px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar__block-items img {
  height: 32px;
  margin-right: 5px;
}
.navbar__block-items a {
  color: #607e92;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.navbar__block-items .margin_block {
  margin-right: 20px;
}

/* Main section */
.main {
  margin-bottom: 48px;
}
.main__block {
  max-width: 100%;
  height: 100%;
  background-image: url("../img/mainbanner.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -20;
}
.main__block-title {
  padding-top: 32px;
  padding-left: 52px;
  max-width: 464px;
}
.main__block-title h1 {
  color: #ffffff;
  font-size: 48px;
  font-style: 500;
  line-height: 57px;
  text-transform: uppercase;
}
.main__block-subtitle {
  margin-top: 15px;
  padding: 10px 10px 10px 0;
  max-width: 560px;
  height: 90px;
  border-radius: 0px 10px 10px 0px;
  background: #c1221c;
}
.main__block-subtitle_descr {
  max-width: 485px;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 30px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}
.main .underline {
  max-width: 563px;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
  border: 1px dashed #fff;
  margin-left: -15px;
}
.main__block-descr {
  max-width: 438px;
  margin-left: 54px;
  margin-top: 20px;
}
.main__block-descr_text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
.main__block-samples {
  margin-top: 30px;
  padding-bottom: 40px;
  display: flex;
}
.main__block-samplesbtn {
  padding-left: 52px;
  margin-right: 42px;
}
.main__block-samplesbtn button {
  width: 300px;
}
.main__block-countries img {
  margin-right: 7px;
}
.main__block-countries_text {
  max-width: 194px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 17px;
}

.advantages {
  margin-bottom: 50px;
}
.advantages__block {
  display: flex;
  justify-content: space-between;
}
.advantages__block-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 348px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #607e92;
  margin-right: 10px;
}
.advantages__block-item:last-child {
  margin-right: 0;
}
.advantages__block-item_text {
  max-width: 194px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 44px;
}
.advantages .margin_advantages {
  margin-left: 20px;
}

/* Delivery Block */
.delivery {
  margin-bottom: 76px;
}
.delivery__title {
  max-width: 923px;
  margin-bottom: 32px;
}
.delivery__block {
  display: flex;
  justify-content: space-between;
}
.delivery__block-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 750px;
  max-height: 380px;
  background-image: url("../img/delivery.png");
}
.delivery__block-subleft {
  padding: 7px 0 7px 0;
  max-width: 355px;
  height: 95px;
  border-radius: 10px 0px 0px 10px;
  background: #c1221c;
  margin-bottom: 28px;
}
.delivery .underlinetwo {
  width: 354px;
  height: 80px;
  border-radius: 10px 0px 0px 10px;
  border: 1px dashed #fff;
  margin-left: 7px;
}
.delivery__block-subleft_text {
  margin-top: 11px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.delivery__block-right {
  max-width: 355px;
}
.delivery__block-items {
  color: #0a304c;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 15px;
  margin-left: 13px;
  list-style-type: disc;
}
.delivery__block-items:first-child {
  margin-top: 0;
}
.delivery__block-descr {
  max-width: 326px;
  font-size: 16px;
  font-weight: 300;
  color: #607e92;
  line-height: 22px;
  margin-top: 20px;
}
.delivery .transparent-btn {
  margin-top: 30px;
}

/* Guard Block */
.guard {
  margin-bottom: 80px;
}
.guard__block {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.guard__block-subtitle {
  display: flex;
  align-items: flex-start;
}
.guard__block-subtitle img {
  margin-right: 25px;
}
.guard__block-subtitle_text {
  font-size: 20px;
  font-weight: 500;
  color: #0a304c;
  line-height: 24px;
  max-width: 186px;
}
.guard__block-subtitle_descr {
  max-width: 300px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 23px;
}
.guard .guard_width {
  max-width: 370px;
}

/* Catalog block */
.catalog {
  margin-bottom: 70px;
}
.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}
.catalog__block-left {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}
.catalog__block-descr {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #607e92;
}
.catalog .transparent-btn {
  margin-top: 20px;
}
.catalog__block-right {
  width: 700px;
  min-height: 450px;
  background-image: url("../img/seamstress.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}
.catalog__block-subright {
  padding: 10px 0 10px 0;
  width: 260px;
  height: 90px;
  border-radius: 0px 10px 10px 0px;
  background: #c1221c;
  margin-bottom: 26px;
}
.catalog .underlinethree {
  width: 267px;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
  border: 1px dashed #fff;
  margin-left: -18px;
}
.catalog__block-sale {
  margin-top: 12px;
  margin-left: 51px;
}
.catalog__block-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 24px;
  text-transform: uppercase;
}
.catalog__block-subdescr {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
}

/* Escort block */
.escort {
  margin-bottom: 80px;
}
.escort__block {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.escort__block-left {
  width: 700px;
  height: 420px;
  background-image: url("../img/workpeople.png");
}
.escort__block-right {
  max-width: 400px;
}
.escort__block-subtitle {
  color: #0a304c;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}
.escort__block-list {
  color: #0a304c;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  list-style-type: disc;
  margin-left: 15px;
  margin-bottom: 10px;
}
.escort__block-list_descr {
  color: #607e92;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 13px;
}
.escort__block-list_descr:last-of-type {
  margin-bottom: 0;
}

/* Company block */
.company {
  margin-bottom: 49px;
}
.company__title {
  margin-bottom: 38px;
}
.company__block {
  display: flex;
  justify-content: space-between;
  max-height: 1002px;
}
.company__block-one {
  max-width: 294px;
  display: flex;
  flex-direction: column;
}
.company__block-one img {
  height: 100px;
  margin-bottom: 40px;
}
.company__block-two {
  height: 100px;
  display: flex;
  flex-direction: column;
}
.company__block-two img {
  height: 100px;
  margin-bottom: 40px;
}
.company__block-three {
  max-width: 294px;
  display: flex;
  flex-direction: column;
}
.company__block-three img {
  height: 100px;
  margin-bottom: 40px;
}

/* Order block */
.order {
  margin-bottom: 95px;
}
.order__block {
  padding: 51px 0 47px 48px;
  width: 100%;
  min-height: 420px;
  background-image: url("../img/lastbanner.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -20;
}
.order__block-title {
  max-width: 550px;
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  text-transform: uppercase;
  color: #ffffff;
}
.order__block-lists {
  display: flex;
}
.order__block-list {
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 40px;
  list-style-type: disc;
  max-width: 320px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
.order .transparent-btn {
  margin-top: 44px;
  width: 320px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.footer {
  background-color: #0a304c;
  padding-top: 35px;
  padding-bottom: 15px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
}
.footer__block-contact {
  width: 100%;
  display: flex;
  margin-left: 35px;
  flex-direction: column;
  margin-bottom: 35px;
}
.footer__block-contact:first-of-type {
  margin-left: 0;
}
.footer__block-subtitle {
  color: #607e92;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}
.footer__block-descr {
  width: 225px;
  display: flex;
  margin-bottom: 15px;
}
.footer__block-descr img {
  margin-right: 15px;
  max-height: 33px;
  width: 17px;
}
.footer__block-descr .img_clock {
  margin-right: 12px;
  width: 20px;
}
.footer__block-lists {
  max-width: 225px;
}
.footer__block-list {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.footer__block-descr_link {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: underline;
}
.footer__block-descr_link span {
  color: #607e92;
}
.footer__block-descr_link a {
  color: #ffffff;
}
.footer .bigsize_text {
  text-decoration: none;
  font-size: 18px;
}
.footer__block-catalog_text {
  font-weight: 500;
  font-size: 12px;
  text-decoration: underline #ffffff;
  margin-bottom: 20px;
}
.footer__block-catalog_text a {
  color: #ffffff;
}
.footer__block-contact_wrapp {
  width: 570px;
  display: flex;
  justify-content: space-between;
}
.footer__block-subtext {
  color: #607e92;
  font-size: 12px;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 25px;
}
.footer__block-border {
  border-top: 1px solid rgba(74, 95, 106, 0.2);
}
.footer__block-copyright {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.footer__block-copyright_subtext {
  color: #607e92;
  font-size: 12px;
}
.footer__block-developedfirm {
  display: flex;
  align-items: center;
}
.footer__block-developedfirm img {
  margin-left: 5px;
}

/* Adaptive */
@media (max-width: 1200px) {
  .header__logo {
    max-width: 150px;
  }
}
@media (max-width: 1150px) {
  .title {
    font-size: 25px;
  }
  .delivery__block-right {
    margin-left: 10px;
  }
  .delivery__block-items {
    color: #0a304c;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 15px;
    margin-left: 13px;
    list-style-type: disc;
  }
  .delivery__block-items:first-child {
    margin-top: 0;
  }
  .delivery__block-descr {
    max-width: 326px;
    font-size: 12px;
    font-weight: 300;
    color: #607e92;
    line-height: 22px;
    margin-top: 20px;
  }
  .delivery .transparent-btn {
    margin-top: 30px;
  }
  .navbar__block-links {
    justify-content: space-around;
  }
  .navbar__block-link {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  .main__block-title h1 {
    font-size: 40px;
  }
  .main__block-subtitle {
    margin-top: 5px;
  }
  .main__block-descr {
    margin-top: 5px;
  }
  .main__block-subtitle_descr {
    font-size: 14px;
  }
  .main__block-descr_text {
    font-size: 14px;
  }
  .main__block-samples {
    margin-top: 5px;
    align-items: center;
  }
  .order__block {
    background-size: cover;
  }
}
@media (max-width: 992px) {
  .header__logo {
    max-width: 250px;
  }
  .header__visible-block {
    display: none;
  }
  .header__wrapper-burger_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header__wrapper {
    align-items: center;
  }
  .header__social {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .header__social-logo img {
    max-width: 30px;
    max-height: 30px;
  }
  .header__social-link a {
    font-size: 10px;
  }
  .header__contact-number {
    color: #607e92;
    font-size: 18px;
  }
  .header__search {
    margin-top: 27px;
  }
  .header__burger-menu {
    padding: 10px 20px 0 20px;
    position: absolute;
    right: -350px;
    height: 100%;
    top: 0;
    width: 350px;
    background-color: #0a304c;
    transition: transform 0.3s;
  }
  .open .header__burger-menu {
    transform: translateX(-100%);
  }
  .header__burger-menu_item {
    font-size: 21px;
    margin-bottom: 15px;
  }
  .header__burger-menu_item a {
    color: #607e92;
  }
  .header__burger-lists {
    margin-top: 50px;
  }
  .header__burger-border {
    border-bottom: 1px solid #607e92;
    margin-bottom: 15px;
  }
  .header__burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 101;
  }
  .header__burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: transform 0.5s;
  }
  .header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
  }
  .header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
  }
  .open .header__burger-btn span:nth-child(1) {
    transform: translateY(0px) rotate(45deg);
  }
  .open .header__burger-btn span:nth-child(2) {
    opacity: 0;
  }
  .open .header__burger-btn span:nth-child(3) {
    transform: translateY(0px) rotate(-45deg);
  }
  .navbar {
    display: none;
  }
  .navbar__block-item a {
    color: #607e92;
  }
  .main {
    margin-bottom: 15px;
  }
  .main__block-countries_text {
    margin-top: 5px;
  }
  .main__block {
    max-width: 100%;
    background-size: cover;
  }
  .advantages {
    margin-bottom: 50px;
  }
  .advantages__block {
    display: flex;
    justify-content: space-around;
  }
  .advantages__block-item {
    max-width: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .advantages__block-item img {
    max-height: 100%;
  }
  .advantages__block-item_text {
    max-width: 124px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
  }
  .guard {
    margin-bottom: 30px;
  }
  .guard__block {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .guard__block-subtitle {
    display: flex;
    align-items: flex-start;
  }
  .guard__block-subtitle img {
    margin-right: 15px;
  }
  .guard__block-subtitle_text {
    height: 40px;
    font-size: 13px;
    line-height: 14px;
    max-width: 106px;
  }
  .guard__block-subtitle_descr {
    max-width: 200px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 13px;
  }
  .guard .guard_width {
    max-width: 270px;
  }
  .catalog {
    margin-bottom: 20px;
  }
  .catalog__block-left {
    justify-content: space-between;
    margin-right: 10px;
  }
  .catalog__block-descr {
    font-size: 14px;
  }
  .catalog__block-right {
    background-size: cover;
  }
  .catalog__block-subtitle {
    font-size: 14px;
  }
  .catalog__block-subdescr {
    font-size: 14px;
  }
  .escort {
    margin-bottom: 40px;
  }
  .escort__block {
    margin-top: 20px;
  }
  .escort__block-left {
    max-height: 420px;
    margin-right: 10px;
  }
  .escort__block-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .escort__block-subtitle {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .escort__block-descr {
    font-size: 14px;
    line-height: 17px;
  }
  .escort__block-list {
    font-size: 14px;
    line-height: 17px;
  }
  .escort__block-list_descr {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 13px;
  }
  .escort__block-list_descr:last-of-type {
    margin-bottom: 0;
  }
  .company {
    margin-bottom: 20px;
  }
  .company__title {
    margin-bottom: 18px;
  }
  .company__block-one {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .company__block-one img {
    max-height: 100px;
    margin-bottom: 20px;
  }
  .company__block-two {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .company__block-two img {
    max-height: 100px;
    margin-bottom: 20px;
  }
  .company__block-three {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .company__block-three img {
    max-height: 100px;
    margin-bottom: 20px;
  }
  .order {
    margin-bottom: 15px;
  }
  .order__block {
    background-size: cover;
  }
  .order__block-title {
    max-width: 550px;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .order__block-lists {
    display: flex;
  }
  .order__block-list {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 40px;
    list-style-type: disc;
    max-width: 320px;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    color: #ffffff;
  }
  .order .transparent-btn {
    margin-top: 44px;
    width: 320px;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .footer__block-contact_wrapp {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */