/* Adaptive */

@media (max-width: 1200px) {
  .c-header {
    &__logo {
      max-width: 150px;
    }
  }
}
@media (max-width: 1150px) {
  .title {
    font-size: 25px;
  }
  .c-main {
    &__block {
      max-width: 100%;
      background-size: cover;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .c-delivery {
    &__block-right {
      margin-left: 10px;
    }
    &__block-left {
      border-radius: 10px;
    }
    &__block-items {
      color: #0a304c;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      margin-top: 15px;
      margin-left: 13px;
      list-style-type: disc;
      &:first-child {
        margin-top: 0;
      }
    }
    &__block-descr {
      max-width: 326px;
      font-size: 12px;
      font-weight: 300;
      color: #607e92;
      line-height: 22px;
      margin-top: 20px;
    }
    .transparent-btn {
      margin-top: 30px;
    }
  }
  .c-navbar {
    &__block-links {
      justify-content: space-around;
    }
    &__block-link {
      font-size: 12px;
    }
  }
  .c-catalog {
    &__block-right {
      margin-left: 10px;
      border-radius: 10px;
    }
  }
}
@media (max-width: 1100px) {
  .c-main {
    &__block-title {
      h1 {
        font-size: 40px;
      }
    }
    &__block-subtitle {
      margin-top: 5px;
    }
    &__block-descr {
      margin-top: 5px;
    }
    &__block-subtitle_descr {
      font-size: 14px;
    }
    &__block-descr_text {
      font-size: 14px;
    }
    &__block-samples {
      margin-top: 5px;
      align-items: center;
    }
  }
  .c-order {
    &__block {
      background-size: cover;
    }
  }
  .c-catalog {
    &__block-left {
      justify-content: space-between;
      margin-right: 10px;
    }
  }
  .c-escort {
    &__block-left {
      margin-right: 10px;
      border-radius: 10px;
    }
  }
  .c-company {
    &__block-one {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      img {
        max-height: 100px;
        margin-bottom: 20px;
      }
    }
    &__block-two {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      img {
        max-height: 100px;
        margin-bottom: 20px;
      }
    }
    &__block-three {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        max-height: 100px;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 992px) {
  .c-header {
    &__logo {
      max-width: 250px;
    }
    &__visible-block {
      display: none;
    }
    &__wrapper-burger_block {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__wrapper {
      align-items: center;
    }
    &__social {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &__social-logo {
      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
    &__social-link {
      a {
        font-size: 10px;
      }
    }
    &__contact-number {
      color: #607e92;
      font-size: 18px;
    }
    &__search {
      margin-top: 27px;
    }
    &__burger-menu {
      padding: 10px 20px 0 20px;
      position: absolute;
      right: -350px;
      height: 100%;
      top: 0;
      width: 350px;
      background-color: #0a304c;
      transition: transform 0.3s;
    }
    .open &__burger-menu {
      transform: translateX(-100%);
    }
    &__burger-menu_item {
      font-size: 21px;
      margin-bottom: 15px;
      a {
        color: #607e92;
      }
    }
    &__burger-lists {
      margin-top: 50px;
    }
    &__burger-border {
      border-bottom: 1px solid #607e92;
      margin-bottom: 15px;
    }
    &__burger-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 40px;
      height: 40px;
      z-index: 101;
      span {
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 2px;
        transition: transform 0.5s;
        &:nth-child(1) {
          transform: translateY(-10px);
        }
        &:nth-child(3) {
          transform: translateY(10px);
        }
        .open &:nth-child(1) {
          transform: translateY(0px) rotate(45deg);
        }
        .open &:nth-child(2) {
          opacity: 0;
        }
        .open &:nth-child(3) {
          transform: translateY(0px) rotate(-45deg);
        }
      }
    }
  }
  .c-navbar {
    display: none;
    &__block-item {
      a {
        color: #607e92;
      }
    }
  }
  .c-main {
    margin-bottom: 15px;
    &__block-countries_text {
      margin-top: 5px;
    }
    &__block {
      max-width: 100%;
      background-size: cover;
      border-radius: 10px;
    }
    &__block-samplesbtn {
      a {
        height: 70px;
      }
    }
  }
  .c-advantages {
    margin-bottom: 50px;
    &__block {
      display: flex;
      justify-content: space-around;
    }
    &__block-item {
      max-width: 200px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        height: 50px;
      }
    }
    &__block-item_text {
      max-width: 124px;
      margin-top: 10px;
      margin-left: 0px;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
    }
  }
  .c-guard {
    margin-bottom: 30px;
    &__block {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    &__block-subtitle {
      display: flex;
      align-items: flex-start;
      img {
        margin-right: 15px;
      }
    }
    &__block-subtitle_text {
      height: 40px;
      font-size: 13px;
      line-height: 14px;
      max-width: 106px;
    }
    &__block-subtitle_descr {
      max-width: 200px;
      font-size: 12px;
      line-height: 12px;
      margin-top: 13px;
    }
    .guard_width {
      max-width: 270px;
    }
  }
  .c-catalog {
    margin-bottom: 20px;
    &__block-descr {
      font-size: 14px;
    }
    &__block-right {
      margin-left: 0px;
      background-size: cover;
    }
    &__block-subtitle {
      font-size: 14px;
    }
    &__block-subdescr {
      font-size: 14px;
    }
  }
  .c-escort {
    margin-bottom: 40px;
    &__block {
      margin-top: 20px;
    }
    &__block-left {
      width: 100%;
      margin-right: 10px;
    }
    &__block-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__block-subtitle {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 15px;
    }
    &__block-descr {
      font-size: 14px;
      line-height: 17px;
    }
    &__block-list {
      font-size: 14px;
      line-height: 17px;
    }
    &__block-list_descr {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 13px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .c-company {
    margin-bottom: 20px;
    &__title {
      margin-bottom: 18px;
    }
    &__block-one {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      img {
        max-height: 100px;
        margin-bottom: 20px;
      }
    }
    &__block-two {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      img {
        max-height: 100px;
        margin-bottom: 20px;
      }
    }
    &__block-three {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        max-height: 100px;
        margin-bottom: 20px;
      }
    }
  }
  .c-order {
    margin-bottom: 15px;
    &__block {
      background-size: contain;
      padding: 21px 0 37px 28px;
    }
    &__block-title {
      font-size: 38px;
      line-height: 47px;
    }
    &__block-lists {
      display: flex;
    }
    &__block-list {
      margin-top: 10px;
      max-width: 320px;
      font-size: 18px;
      line-height: 15px;
    }
    .transparent-btn {
      margin-top: 24px;
      max-width: 300px;
      font-size: 18px;
      max-height: 150px;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }
  .c-footer {
    &__block-contact_wrapp {
      max-width: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
@media (max-width: 768px) {
  .c-title {
    font-size: 20px;
    line-height: 20px;
  }
  .c-main {
    &__block {
      background-size: cover;
      border-radius: 10px;
    }
    &__block-title {
      padding-top: 12px;
      padding-left: 22px;
      max-width: 264px;
      h1 {
        font-size: 28px;
        line-height: 30px;
      }
    }
    &__block-subtitle {
      margin-top: 10px;
      padding: 5px 5px 5px 0;
      max-width: 360px;
      height: 80px;
    }
    &__block-subtitle_descr {
      font-size: 14px;
      margin-top: 10px;
      line-height: 15px;
    }
    .underline {
      height: 70px;
    }
    &__block-descr {
      max-width: 378px;
      margin-left: 14px;
      margin-top: 10px;
    }
    &__block-descr_text {
      font-size: 14px;
      font-weight: 300;
      line-height: 15px;
    }
    &__block-samples {
      margin-top: 10px;
      padding-bottom: 10px;
      display: flex;
    }
    &__block-samplesbtn {
      padding-left: 12px;
      margin-right: 22px;
      a {
        width: 150px;
        height: 60px;
        font-size: 14px;
      }
    }
    &__block-countries {
      img {
        width: 35px;
        margin-right: 7px;
      }
    }
    &__block-countries_text {
      max-width: 194px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      line-height: 17px;
    }
  }
  .c-advantages {
    margin-bottom: 20px;
    &__block {
      display: flex;
      justify-content: space-around;
    }
    &__block-item {
      max-width: 200px;
      img {
        height: 40px;
      }
    }
    &__block-item_text {
      margin-top: 10px;
    }
  }
  .c-delivery {
    margin-bottom: 10px;
    &__title {
      max-width: 423px;
      margin-bottom: 15px;
    }
    &__block {
      display: flex;
      flex-direction: column;
    }
    &__block-left {
      height: 300px;
      max-width: 100%;
      border-radius: 10px;
      background-size: cover;
    }
    &__block-subleft_text {
      margin-top: 11px;
      margin-left: 20px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
    }
    &__block-list {
      max-width: 700px;
      margin-top: 10px;
    }
    &__block-items {
      font-size: 16px;
      line-height: 19px;
      margin-top: 10px;
      list-style-type: disc;
    }
    &__block-descr {
      max-width: 100%;
      font-size: 14px;
      line-height: 22px;
      margin-top: 20px;
    }
    .transparent-btn {
      font-size: 14px;
      margin-top: 10px;
      width: 200px;
      height: 50px;
    }
    &__block-right {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      max-width: 100%;
      margin-left: 0;
    }
    .transparent-btn {
      width: 100%;
    }
  }
  .c-guard {
    &__block-subtitle_descr {
      max-width: 200px;
      font-size: 12px;
      line-height: 12px;
      margin-top: 13px;
      margin-right: 10px;
    }
  }
  .c-catalog {
    margin-bottom: 20px;
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
    &__block-left {
      justify-content: space-between;
      margin-right: 10px;
      max-width: 100%;
    }
    &__block-title {
      margin-top: 10px;
    }
    &__block-descr {
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 100%;
      font-size: 14px;
    }
    &__block-right {
      background-size: cover;
      width: 100%;
      min-height: 360px;
      border-radius: 10px;
    }
    .fill-btn {
      font-size: 14px;
      margin-top: 10px;
      width: 100%;
      height: 50px;
    }
    .transparent-btn {
      font-size: 14px;
      margin-top: 10px;
      width: 100%;
      height: 50px;
    }
  }
  .c-escort {
    margin-bottom: 15px;
    &__block {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    &__block-left {
      max-width: 100%;
      max-height: 380px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    &__block-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__block-subtitle {
      font-size: 14px;
      line-height: 10px;
      margin-bottom: 10px;
    }
    &__block-descr {
      font-size: 12px;
      line-height: 10px;
    }
    &__block-list {
      font-size: 14px;
      line-height: 12px;
      margin-bottom: 5px;
    }
    &__block-list_descr {
      font-size: 12px;
      line-height: 25px;
      margin-bottom: 5px;
    }
  }
  .c-company {
    margin-bottom: 20px;
    &__title {
      margin-bottom: 18px;
    }
    &__block-one {
      width: auto;
      img {
        height: auto;
      }
    }
    &__block-two {
      width: auto;
      img {
        height: auto;
      }
    }
    &__block-three {
      width: auto;
      img {
        height: auto;
      }
    }
  }
  .c-order {
    margin-bottom: 15px;
    &__block {
      min-height: auto;
      border-radius: 10px;
      width: 100%;
      background-size: cover;
      padding: 21px 0 27px 28px;
    }
    &__block-title {
      max-width: 350px;
      font-size: 30px;
      line-height: 37px;
    }
    &__block-lists {
      display: flex;
    }
    &__block-list {
      margin-top: 10px;
      max-width: 220px;
      font-size: 14px;
      line-height: 15px;
    }
    .transparent-btn {
      margin-top: 10px;
      max-width: 220px;
      font-size: 14px;
      max-height: 50px;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }
  .c-footer {
    &__block-contact_wrapp {
      max-width: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
@media (max-width: 640px) {
  .c-footer {
    &__block {
      display: flex;
      flex-direction: column;
    }
    &__block-contact {
      margin-bottom: 10px;
    }
    &__display-none {
      display: none;
    }
    &__block-subtext {
      font-size: 10px;
    }
    &__block-copyright_subtext {
      font-size: 10px;
    }
    &__block-list {
      font-size: 10px;
    }
    &__block-descr_link {
      font-size: 12px;
    }
    .bigsize_text {
      text-decoration: none;
      font-size: 16px;
    }
  }
}
@media (max-width: 520px) {
  .c-footer {
    &__block-copyright {
      display: flex;
      flex-direction: column;
    }
    &__block-copyright_subtext {
      font-size: 14px;
    }
  }
}
@media (max-width: 480px) {
  .c-advantages {
    &__block-item {
      padding: 5px;
      img {
        height: 30px;
      }
    }
    &__block-item_text {
      font-size: 10px;
      margin-left: 0;
      text-align: center;
    }
    .margin_advantages {
      margin-left: 0;
    }
  }
  .c-delivery {
    .transparent-btn {
      width: 100%;
    }
  }
  .c-catalog {
    .fill-btn {
      width: 100%;
    }
    .transparent-btn {
      width: 100%;
    }
  }
  .c-order {
    &__block {
      padding: 15px;
    }
    .transparent-btn {
      min-width: 100%;
    }
    &__block-lists {
      display: flex;
      flex-direction: column;
    }
    &__block-list {
      font-size: 12px;
    }
  }
  .c-guard {
    &__block-subtitle {
      img {
        width: 20px;
        margin-right: 5px;
      }
    }
    &__block-subtitle_text {
      font-size: 12px;
    }
    &__block-subtitle_descr {
      font-size: 10px;
    }
  }
}
@media (max-width: 380px) {
  .c-header {
    &__logo {
      max-width: 80%;
    }
  }
  .c-main {
    display: none;
  }
  .c-main__mobile {
    margin-bottom: 20px;
    display: block;
    &-img {
      z-index: -10;
      position: relative;
      img {
        border-radius: 10px;
      }
    }
    &-block {
      margin-top: -24px;
      padding-top: 24px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-color: #26335F;
      color: #ffffff;
      z-index: 2;
    }
    &-block-title {
      font-size: 28px;
      font-weight: 500;
      line-height: 33px;
      text-transform: uppercase;
      margin-left: 20px;
    }
    &-subblock {
      margin-top: 20px;
      padding: 10px 10px 10px 0px;
      background-color: #C1221C;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: calc(100% - 10px);
      height: 140px;
    }
    &-descr {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      text-transform: uppercase;
      margin-left: 25px;
    }
    &-subdescr {
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
      width: 206px;
      margin-top: 20px;
      margin-bottom: 25px;
      margin-left: 27px;
    }
    &-cities {
      margin-left: 27px;
      img {
        margin-right: 7px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &-cities_text {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      width: 170px;
      margin-top: 15px;
    }
    .c-main__block-samplesbtn {
      margin-top: 20px;
      width: 100%;
    }
    .fill-btn {
      width: 100%;
      font-size: 16px;
      height: 70px;
    }
    .c-underline {
      padding: 16px 10px 16px 0px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-left: -5px;
      height: 100%;
      border: 1px dashed white;
    }
  }
  .c-advantages {
    width: 100%;
    &__block {
      flex-direction: column;
    }
    &__block-item {
      margin-right: 0;
      max-width: 100%;
      height: 80px;
      margin-bottom: 20px;
      flex-direction: row;
      justify-content: flex-start;
      &:last-of-type {
        margin-bottom: 0;
      }
      img {
        margin-left: 40px;
      }

    }
    &__block-item_text {
      margin-left: 25px;
      margin-top: 0;
      max-width: 142px;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
    .margin_advantages {
      margin-left: 25px;
    }
    .secret_display-show {
      display: none;
    }
    .secret_display {
      display: flex;
    }
  }
  .c-delivery {
    &__title {
      font-size: 20px;
      line-height: 24px;
    }
    &__block-left {
      padding-left: 10px;
      background-size: 100% contain;
    }
    &__block-subleft {
      height: 80px;
      max-width: 100%;
    }
    &__block-subleft_text {
      margin-right: 0;
      margin-left: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }
    .underlinetwo {
      height: 65px;
      padding: 0px 25px 12px 20px;
      max-width: 100%;
    }
    &__block-items {
      font-size: 14px;
      line-height: 16px;
    }
    &__block-descr {
      line-height: 16px;
      margin-bottom: 30px;
    }
    .transparent-btn {
      height: 70px;
      font-size: 16px;
    }
  }
  .c-guard {
    &__title {
      font-size: 20px;
      line-height: 24px;
    }
    &__block {
      flex-direction: column;
      gap: 25px;
    }
    &__block-item {
      max-width: 100%;
    }
    &__block-subtitle {
      display: flex;
      align-items: center;
      img {
        margin-right: 25px;
      }
    }
    &__block-subtitle_text {
      font-size: 16px;
      max-width: 100%;
      height: auto;
    }
    &__block-subtitle_descr {
      color: #607E92;
      margin-top: 15px;
      font-size: 14px;
      max-width: 100%;
      height: auto;
    }
  }

  .c-catalog {
    &__block-title {
      font-size: 20px;
      line-height: 24px;
    }
    &__block-descr {
      font-size: 14px;
      line-height: 16px;
    }
    .fill-btn {
      height: 70px;
      font-size: 16px;
    }
    .transparent-btn {
      height: 70px;
      font-size: 16px;
    }
  }
  .c-order {
    &__block {
      display: none;
    }
    &__block-mobile {
      display: block;
    }
    &__block-main {
      position: relative;
      margin-top: -15px;
      background-color: #00264B;
      color: #ffffff;
      padding-top: 13px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      padding-bottom: 10px;
      z-index: 1;
    }
    &__block-mobile_title {
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      text-transform: uppercase;
    }
    &__block-list {
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      max-width: 100%;
      margin-left: 12px;
    }
    .transparent-btn {
      max-height: 70px;
    }
  }
  .c-escort {
    &__title {
      font-size: 19px;
      line-height: 24px;
    }
    &__block-subtitle {
      margin-top: 10px;
      font-size: 18px;
    }
    &__block-list {
      font-size: 16px;
      line-height: 19px;
      margin-top: 10px;
    }
    &__block-list_descr {
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .c-company {
    &__block {
      display: none;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
    }

  &__block-mobile {
    display: flex;
    gap: 15px;
  }
  &__block-left {
    img {
      margin-bottom: 15px;
      border-radius: 10px;
    }
  }
  &__block-right {
    img {
      border-radius: 10px;
      margin-bottom: 15px;
    }
  }
  }
  .c-footer {
    &__block-copyright {
      flex-direction: column;
      align-items: center;
    }
    &__block-copyright_subtext {
      font-size: 12px;
    }
  }
}
