@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.container {
  width: 1150px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  &__wrapper {
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Block Logo */
  &__logo {
    width: 255px;
  }
  /* Block Search */
  &__search-form {
    position: relative;
    height: 35px;
    width: 220px;
    margin: 0 auto;
  }
  &__search-input,
  &__search-btn {
    border: none;
    outline: none;
    background: transparent;
  }
  &__search-input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    background-color: #ecf1f4;
    border-radius: 4px;
  }
  &__search-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    img {
      height: 20px;
      width: 32px;
    }
  }
  /* Block Work Time */
  &__worktime {
    width: 111px;
    height: 48px;
  }
  &__worktime-item {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #607e92;
    span {
      font-weight: 700;
    }
  }
  /* Block Social */
  &__social {
    height: 48px;
    display: flex;
    align-items: center;
  }
  &__social-logo {
    img {
      width: 45px;
      height: 45px;
    }
    margin-right: 20px;
  }
  &__social-wrapp {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__social-link {
    display: flex;
    margin-top: 5px;
    img {
      margin-right: 7px;
    }
    a {
      color: #607e92;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
  /* Block Contact */
  &__contact {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__contact-number {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
  }
  &__contact-link {
    display: flex;
    img {
      margin-right: 7px;
    }
    a {
      color: #607e92;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-decoration-line: underline;
    }
  }
}

/* NavBar Section */

.navbar {
  border-bottom: 1px solid #607e92;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__block-links {
    display: flex;
    justify-content: center;
  }
  &__block-link {
    color: #607e92;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-right: 40px;
  }
  &__block-item {
    display: flex;
    align-items: center;
  }
  &__block-items {
    width: 270px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    img {
      height: 32px;
      margin-right: 5px;
    }
    a {
      color: #607e92;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
    .margin_block {
      margin-right: 20px;
    }
  }
}

/* Main section */

.main {
  width: 100%;
  margin-bottom: 48px;
  &__block {
    width: 100%;
    min-height: 480px;
    background-image: url("../img/mainbanner.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -20;
  }
  &__block-title {
    padding-top: 32px;
    padding-left: 52px;
    width: 464px;
    h1 {
      color: #ffffff;
      font-size: 48px;
      font-style: 500px;
      line-height: 57px;
      text-transform: uppercase;
    }
  }
  &__block-subtitle {
    margin-top: 15px;
    padding: 10px 10px 10px 0;
    width: 560px;
    height: 90px;
    border-radius: 0px 10px 10px 0px;
    background: #c1221c;
  }
  &__block-subtitle_descr {
    width: 485px;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
  }
  .underline {
    width: 563px;
    height: 70px;
    border-radius: 0px 10px 10px 0px;
    border: 1px dashed #FFF;
    margin-left: -15px;
  }
  &__block-descr {
    max-width: 438px;
    margin-left: 54px;
    margin-top: 20px;
  }
  &__block-descr_text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
  &__block-samples {
    margin-top: 30px;
    display: flex;
  }
  &__block-samplesbtn {
    padding-left: 52px;
    margin-right: 42px;
    button {
      color: #0A304C;
      width: 299px;
      height: 80px;
      border-radius: 10px;
      background-color: #A4BAC9;
    }
  }
  &__block-countries {
    img {
      margin-right: 7px;
    }
  }
  &__block-countries_text {
    width: 194px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-top: 17px;
  }
}

.advantages {
  margin-bottom: 50px;
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__block-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 348px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #607E92;
  }
  &__block-item_text {
    max-width: 194px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 44px;
  }
  .margin_advantages {
    margin-left: 20px;
  }
}

/* Delivery Block */

.delivery {
  &__title {
    max-width: 923px;
    color: #0A304C;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 32px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__block-left {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 750px;
    min-height: 380px;
    background-image: url("../img/delivery.png");
  }
  &__block-subleft {
    padding: 7px 0 7px 0;
    width: 355px;
    height: 95px;
    border-radius: 10px 0px 0px 10px;
    background: #c1221c;
    margin-bottom: 28px;
  }
  .underlinetwo {
    width: 354px;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
    border: 1px dashed #FFF;
    margin-left: 7px;
  }
  &__block-subleft_text {
    margin-top: 11px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
  &__block-right {
    width: 355px;
  }
  &__block-items {
    color: #0A304C;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 15px;
    margin-left: 13px;
    list-style-type: disc;
    &:first-child {
      margin-top: 0;
    }
  }
  &__block-descr {
    max-width: 326px;
    font-size: 16px;
    font-weight: 300;
    color: #607E92;
    line-height: 22px;
    margin-top: 20px;
  }
  &__block-btn {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #0A304C;
  }
}