@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.body__wrapper-block {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.fill-btn {
  max-width: 100%;
  height: 80px;
  border-radius: 10px;
  background: #a4bac9;
  color: #0a304c;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  &:hover {
    color: lighten(#a4bac9, 30%);
    background-color: lighten(#a4bac9, 5%);
    transition: all 0.2s ease-in-out;
  }
  &:active {
    color: darken(#a4bac9, 50%);
    background-color: darken(#a4bac9, 5%);
    transition: all 0.2s ease-in-out;
  }
}
.transparent-btn {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #0a304c;
  color: #0a304c;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  &:hover {
    color: lighten(#ffffff, 30%);
    background-color: lighten(#0a304c, 5%);
    transition: all 0.2s ease-in-out;
  }
  &:active {
    color: darken(#ffffff, 50%);
    background-color: darken(#0a304c, 5%);
    transition: all 0.2s ease-in-out;
  }
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #0a304c;
}
.header {
  &__wrapper-burger_block {
    display: none;
  }
  &__burger-btn {
    display: none;
  }
  &__visible-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Block Logo */
  &__logo {
    max-width: 255px;
  }
  /* Block Search */
  &__search-form {
    position: relative;
    height: 35px;
    max-width: 220px;
  }
  &__search-input,
  &__search-btn {
    border: none;
    outline: none;
    background: transparent;
  }
  &__search-input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    background-color: #ecf1f4;
    border-radius: 4px;
    &::placeholder {
      font-size: 12px;
    }
  }
  &__search-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    img {
      height: 20px;
      width: 32px;
    }
  }
  /* Block Work Time */
  &__worktime {
    max-width: 111px;
    height: 48px;
  }
  &__worktime-item {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #607e92;
    span {
      font-weight: 700;
    }
  }
  /* Block Social */
  &__social {
    height: 48px;
    display: flex;
    align-items: center;
  }
  &__social-logo {
    img {
      max-width: 45px;
      max-height: 45px;
    }
    margin-right: 20px;
  }
  &__social-wrapp {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__social-link {
    display: flex;
    margin-top: 5px;
    img {
      margin-right: 7px;
    }
    a {
      color: #607e92;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
  /* Block Contact */
  &__contact {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__contact-number {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
  }
  &__contact-link {
    display: flex;
    img {
      margin-right: 7px;
    }
    a {
      color: #607e92;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-decoration-line: underline;
    }
  }
}

/* NavBar Section */

.navbar {
  border-bottom: 1px solid #607e92;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__block-links {
    max-width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__block-link {
    color: #607e92;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
    padding-bottom: 7px;
    &:hover {
      color: darken(#607e92, 50%);
      border-bottom: 3px solid red;
      transition: 0.2s all ease-in-out;
    }
    &:active {
      color: lighten(#607e92, 20%);
    }
  }
  &__block-item {
    display: flex;
    align-items: center;
  }
  &__block-items {
    max-width: 270px;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      height: 32px;
      margin-right: 5px;
    }
    a {
      color: #607e92;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
    .margin_block {
      margin-right: 20px;
    }
  }
}

/* Main section */

.main {
  margin-bottom: 48px;
  &__block {
    max-width: 100%;
    height: 100%;
    background-image: url("../img/mainbanner.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -20;
  }
  &__block-title {
    padding-top: 32px;
    padding-left: 52px;
    max-width: 464px;
    h1 {
      color: #ffffff;
      font-size: 48px;
      font-style: 500;
      line-height: 57px;
      text-transform: uppercase;
    }
  }
  &__block-subtitle {
    margin-top: 15px;
    padding: 10px 10px 10px 0;
    max-width: 560px;
    height: 90px;
    border-radius: 0px 10px 10px 0px;
    background: #c1221c;
  }
  &__block-subtitle_descr {
    max-width: 485px;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
  }
  .underline {
    max-width: 563px;
    height: 70px;
    border-radius: 0px 10px 10px 0px;
    border: 1px dashed #fff;
    margin-left: -15px;
  }
  &__block-descr {
    max-width: 438px;
    margin-left: 54px;
    margin-top: 20px;
  }
  &__block-descr_text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
  &__block-samples {
    margin-top: 30px;
    padding-bottom: 40px;
    display: flex;
  }
  &__block-samplesbtn {
    padding-left: 52px;
    margin-right: 42px;
    button {
      width: 300px;
    }
  }
  &__block-countries {
    img {
      margin-right: 7px;
    }
  }
  &__block-countries_text {
    max-width: 194px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-top: 17px;
  }
}

.advantages {
  margin-bottom: 50px;
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__block-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 348px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #607e92;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__block-item_text {
    max-width: 194px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 44px;
  }
  .margin_advantages {
    margin-left: 20px;
  }
}

/* Delivery Block */

.delivery {
  margin-bottom: 76px;
  &__title {
    max-width: 923px;
    margin-bottom: 32px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__block-left {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 750px;
    max-height: 380px;
    background-image: url("../img/delivery.png");
  }
  &__block-subleft {
    padding: 7px 0 7px 0;
    max-width: 355px;
    height: 95px;
    border-radius: 10px 0px 0px 10px;
    background: #c1221c;
    margin-bottom: 28px;
  }
  .underlinetwo {
    width: 354px;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
    border: 1px dashed #fff;
    margin-left: 7px;
  }
  &__block-subleft_text {
    margin-top: 11px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
  &__block-right {
    max-width: 355px;
  }
  &__block-items {
    color: #0a304c;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 15px;
    margin-left: 13px;
    list-style-type: disc;
    &:first-child {
      margin-top: 0;
    }
  }
  &__block-descr {
    max-width: 326px;
    font-size: 16px;
    font-weight: 300;
    color: #607e92;
    line-height: 22px;
    margin-top: 20px;
  }
  .transparent-btn {
    margin-top: 30px;
  }
}

/* Guard Block */

.guard {
  margin-bottom: 80px;
  &__block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__block-subtitle {
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 25px;
    }
  }
  &__block-subtitle_text {
    font-size: 20px;
    font-weight: 500;
    color: #0a304c;
    line-height: 24px;
    max-width: 186px;
  }
  &__block-subtitle_descr {
    max-width: 300px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 23px;
  }
  .guard_width {
    max-width: 370px;
  }
}

/* Catalog block */

.catalog {
  margin-bottom: 70px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__block-left {
    max-width: 360px;
    display: flex;
    flex-direction: column;
  }
  &__block-descr {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #607e92;
  }
  .transparent-btn {
    margin-top: 20px;
  }
  &__block-right {
    width: 700px;
    min-height: 450px;
    background-image: url("../img/seamstress.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
  }
  &__block-subright {
    padding: 10px 0 10px 0;
    width: 260px;
    height: 90px;
    border-radius: 0px 10px 10px 0px;
    background: #c1221c;
    margin-bottom: 26px;
  }
  .underlinethree {
    width: 267px;
    height: 70px;
    border-radius: 0px 10px 10px 0px;
    border: 1px dashed #fff;
    margin-left: -18px;
  }
  &__block-sale {
    margin-top: 12px;
    margin-left: 51px;
  }
  &__block-subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__block-subdescr {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #ffffff;
  }
}

/* Escort block */

.escort {
  margin-bottom: 80px;
  &__block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__block-left {
    width: 700px;
    height: 420px;
    background-image: url("../img/workpeople.png");
  }
  &__block-right {
    max-width: 400px;
  }
  &__block-subtitle {
    color: #0a304c;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
  }
  &__block-list {
    color: #0a304c;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    list-style-type: disc;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  &__block-list_descr {
    color: #607e92;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 13px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

/* Company block */

.company {
  margin-bottom: 49px;
  &__title {
    margin-bottom: 38px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    max-height: 1002px;
  }
  &__block-one {
    max-width: 294px;
    display: flex;
    flex-direction: column;

    img {
      height: 100px;
      margin-bottom: 40px;
    }
  }
  &__block-two {
    height: 100px;
    display: flex;
    flex-direction: column;
    img {
      height: 100px;
      margin-bottom: 40px;
    }
  }
  &__block-three {
    max-width: 294px;
    display: flex;
    flex-direction: column;

    img {
      height: 100px;
      margin-bottom: 40px;
    }
  }
}

/* Order block */

.order {
  margin-bottom: 95px;
  &__block {
    padding: 51px 0 47px 48px;
    width: 100%;
    min-height: 420px;
    background-image: url("../img/lastbanner.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -20;
  }
  &__block-title {
    max-width: 550px;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__block-lists {
    display: flex;
  }
  &__block-list {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 40px;
    list-style-type: disc;
    max-width: 320px;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    color: #ffffff;
  }
  .transparent-btn {
    margin-top: 44px;
    width: 320px;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.footer {
  background-color: #0a304c;
  padding-top: 35px;
  padding-bottom: 15px;
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__block-contact {
    width: 100%;
    display: flex;
    margin-left: 35px;
    flex-direction: column;
    &:first-of-type {
      margin-left: 0;
    }
    margin-bottom: 35px;
  }
  &__block-subtitle {
    color: #607e92;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
  }
  &__block-descr {
    width: 225px;
    display: flex;
    margin-bottom: 15px;
    img {
      margin-right: 15px;
      max-height: 33px;
      width: 17px;
    }
    .img_clock {
      margin-right: 12px;
      width: 20px;
    }
  }
  &__block-lists {
    max-width: 225px;
  }
  &__block-list {
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
  }
  &__block-descr_link {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-decoration: underline;
    span {
      color: #607e92;
    }
    a {
      color: #ffffff;
    }
  }
  .bigsize_text {
    text-decoration: none;
    font-size: 18px;
  }
  &__block-catalog_text {
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline #ffffff;
    margin-bottom: 20px;
    a {
      color: #ffffff;
    }
  }
  &__block-contact_wrapp {
    width: 570px;
    display: flex;
    justify-content: space-between;
  }
  &__block-subtext {
    color: #607e92;
    font-size: 12px;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 25px;
  }
  &__block-border {
    border-top: 1px solid rgba(74, 95, 106, 0.2);
  }
  &__block-copyright {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__block-copyright_subtext {
    color: #607e92;
    font-size: 12px;
  }
  &__block-developedfirm {
    display: flex;
    align-items: center;
    img {
      margin-left: 5px;
    }
  }
}

@import "adaptive.scss";
